.container {
  background-color: white;
}

.form-content {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 480px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .inf-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    position: relative;
  }

  .content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-box {
    position: absolute;
    width: 92%;
    background-color: white;
    left: 4%;
    top: 100px;
    border-radius: 10px;
  }

  app-navigation-buttons {
    margin-top: auto;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .form-content {
    margin: -5rem auto 0;
    border-radius: 10px;
    width: 90%;
  }


}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 750px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .page-content {
    flex: 1;
  }

  app-navigation-buttons {
    margin-top: auto;
  }

  .inf-box {
    display: flex;
    gap: 3rem;
  }

  app-sidebar {
    flex: 1;
  }
  .form-content, app-navigation-buttons {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-height: 400px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .page-content {
    width: 100%;
    height: 100%;
  }

  app-navigation-buttons {
    margin-top: auto;
  }

  .inf-box {
    display: flex;
    gap: 3rem;
  }

  app-sidebar {
    flex: .9;
    margin-top: auto;
  }

  .form-content{
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
    min-height: 500px;
  }

  .form-content{
    width: 80%;
  }
}
